<!DOCTYPE html>

<html>

<head>


	<title>GPIO UI</title>
	<meta charset="utf-8" />

	{% load staticfiles %}
	
	<!-- static bootstrap.css path, not included in Github version -->
	<!--<link rel="stylesheet" href="{% static 'add/path/to/bootstrap.min.css' %}" type='text/css' />-->
	
	<!-- static bootstrap-touchspin.css path, not included in Github version -->
	<!--<link rel="stylesheet" href="{% static 'add/path/to/jquery.bootstrap-touchspin.min.css' %}" type='text/css' />-->
	
	<!-- custom.css static path, included in Github version -->
	<link rel="stylesheet" href="{% static 'gpio/css/custom.css' %}" type='text/css' />
	
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<!-- Inline styling here -->
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>

</head>

<!-- Inline styling here -->
<body class="body" style="background-color:#f6f6f6">

	<!-- Inline styling here -->
	<div class="container-fluid" style="min-height:95%; margin: 0 5% 0 5%;">
		<div class="row">
			  <div class="col-sm-2">
			  </div>
			  <div class="col-sm-6">
				  <br>
				  <center>
				  <h2>General Pin Input/Output GUI</h2>
				  </center>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- ADD LINKS HERE WHEN NEEDED-->
			 <!-- Inline styling here -->
			<!--<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">-->
				<!-- <li><a href='#'>Home</a></li>
				<!-- <li><a href='#'>Link1</a></li>
				<!-- <li><a href='#'>Link2</a></li>
				<!-- <li><a href='#'>Link3</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
		  
			<div class='container-fluid'>
			<br><br>
				<!-- Jinja logic here -->
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>

	<!-- Footer automatically at bottom / Bootstrap -->
	<footer>
		<!-- Inline styling here -->
		<!--<div class="container-fluid" style='margin-left:15px'>
		</div>-->
	</footer>

	<!-- JQuery source, not included in github version -->
	<!--<script src="{% static 'add/path/to/jquery-2-2.3.min.js' %}"></script>-->
	
	<!-- Bootstrap source, not included in github version -->
	<!--<script src="{% static 'add/path/to//bootstrap.min.js' %}"></script>-->
	
	<!-- Bootstrap touchspin source, not included in github version -->
	<!--<script src="{% static 'add/path/to/jquery.bootstrap-touchspin.min.js' %}"></script>-->

	<!-- Included in Github version -->
	<script src="{% static 'gpio/javascript/ajaxsetup.js' %}"></script>
	<script src="{% static 'gpio/javascript/pins.js' %}"></script>
	<script src="{% static 'gpio/javascript/external.js' %}"></script>
	
</body>


</html>
